.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*Nasa blue: #0B3D91
Nasa red: #FC3D21
contrast light blue: #5D7FB9*/
body {
  margin: 0;
  background-color: black;
  color: white;
}
.header {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 3px #5d7fb9;
}
.siteName {
  background-color: black;
  color: white;
  padding: 10px;
}
.logo {
  width: 15%;
  padding: 10px;
}
.main {
  text-align: center;
}
.day {
  text-align: center;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-top: solid 3px #5d7fb9;
}
.footer a {
  color: #5d7fb9;
  text-decoration: none;
}
.footer a:visited {
  color: #5d7fb9;
  text-decoration: none;
}
